mixin c_scrollTop(input = {})

    -
        opt = {class_parent: ''};
        opt = Object.assign(opt, input);

    section.t-scrolltop.js-scrolltop
        button(class='t-scrolltop__btn my-btn my-btn-secondary')
            i.icon.icon-angle-top